*{
    margin:0;
    padding:0;
}
body {
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2b2b2a53;
   
}
.container {
    width:80%;
    height: 85%;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
/* ---------------------- */
#addpoints{
    width:100px;
    height: 100px;
    text-align: center;
    font-size: 65px;
    font-weight: 800;
}

/*____________ partie qui pour caluler le tatal des points _____________*/
.spoints{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*____________ partie qui pour le jeu  _____________*/
.jeu {
    display: grid;
    width:320px;
    height: 360px;
    grid-template-rows: repeat(3,33%);
    grid-template-columns: repeat(3,33%);
}
.jeu div {
    margin:4px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    border-radius: 18px;
    cursor: pointer;
    box-shadow: 6px 6px 15px #0000009f;
}
.jeu div:hover {
    background-color:#2b2b2a7e;
}
/* #title {
   text-align: center;
    height: 50px;
    margin-bottom:30px;
    font-size: 30px;
    border-radius: 18px;
    box-shadow: 6px 6px 20px #82816a;
    display: none;
} */
span{
    font-weight: 800;
}
#x {
    color:#f00;
}
#o{
    color:#0f0;
}

/*----------------------------------------------*/

button {
    padding: 6px;
    border: none;
    margin: 3px;
    border-radius: 25px;
    width:80px;
    height: 22px;
    cursor: pointer;
    transition: all 0.7s ease;
}
button:hover {
    width:90px;
    height: 30px;
}
.totalR {
    background: linear-gradient(120deg,rgb(245, 138, 138),rgb(246, 96, 96),#f00,rgb(141, 7, 7),rgb(79, 9, 9),rgb(45, 8, 8),rgb(79, 9, 9),rgb(141, 7, 7),rgb(246, 96, 96),rgb(245, 138, 138));
    
}
.totalG {
    background: linear-gradient(120deg,rgb(181, 251, 181),rgb(96, 255, 96),rgb(17, 193, 17),rgb(26, 137, 26),rgb(14, 65, 14),rgb(16, 35, 16),rgb(14, 65, 14),rgb(26, 137, 26),rgb(17, 193, 17),rgb(96, 255, 96),rgb(181, 251, 181));

}

.red button {
    border: 3px solid rgb(255, 0, 0);
    box-shadow: 1px 1px 12px #f00;
    background-color: rgba(255, 0, 0, 0.66);
}
.green button {
    border: 3px solid rgb(0, 255, 0);
    box-shadow: 1px 1px 12px #0f0;
    background-color: rgba(0, 255,0,0.4);
}
.total{
    width:70px;
    height: 30px;
    padding:15px;
    border-radius: 8px;
    margin: 3px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    box-shadow: 2px 2px 15px #000;
    display: none;
    text-align: center;

}
/*------------------------------*/


/*------------------------------*/

#restart {
    margin-top:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 800;
    padding:8px;
    box-shadow: 3px 3px 18px #282727;
    background-color:#ffff001e;
    border-radius: 8px;
    cursor:pointer;
    transition: all .5s ease;
}
#restart:hover {
    background-color:#ffff001e;
    transform: scale(1.1);
}
/*-----------------------------*/


.Da{
    animation-name: DA;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes DA{
    0% {
        border-top: 2px solid #f00;
        border-left: 2px solid #0f0;
    }
    100% {
        border-top: 2px solid #0f0;
        border-left: 2px solid #f00;
    }
}
.Db{

    animation-name: DB;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay:.8s;
}
@keyframes DB {
    0% {
        border-left: 2px solid #f00;
        border-top: 2px solid #0f0;
    }
    100% {
        border-left: 2px solid #0f0;
        border-top: 2px solid #f00;
    }
}